section.banner
	.banner__wrapper
		h1.tt-u Tìm việc nhanh và hiệu quả
		.banner__img
			.banner__img-item.left
				img.svg(data-src="./assets/images/banner/1.svg", alt="1")
			.banner__img-item.right
				img.svg(data-src="./assets/images/banner/2.svg", alt="1")
			.banner__img-item.wind
				img.svg(data-src="./assets/images/banner/4.svg", alt="1")
		.banner__form
			form(action="#")
				.form-input
					input(type="text" placeholder="Công việc")
					.banner__btn-search
						img.svg(data-src="./assets/icons/search.svg", alt="search")
			.banner__tag
				a.banner__tag-item(href="")
					h3 Cong nghe thong tin
				a.banner__tag-item(href="")
					h3 Cong nghe thong tin
				a.banner__tag-item(href="")
					h3 Cong nghe thong tin