footer.footer
    .footer__wrapper
        .container
            .footer__row
                .listItem
                    .footer__logo
                        img(src="./assets/logo.png" alt="Logo")
                    p Ontopwork.com là một trong những website tạo cơ hội việc làm cho hàng triệu ứng viên.
                .listItem
                    .footer__contact
                        h2 Liên hệ
                        ul
                            li
                                img(src="./assets/icons/line/phone-numbers-call.svg" alt="Phone")
                                span 028 3636 5940
                            li
                                img(src="./assets/icons/line/mail.svg" alt="Email")
                                span support@ontopwork.com
                            li
                                img(src="./assets/icons/line/navigator.svg" alt="Address")
                                span 68 Nguyễn Ngọc Phương, Quận Bình Thạnh
                .listItem
                    .footer__nav
                        h2 Menu
                        ul
                            li
                                a(href="#") Trang chủ
                            li
                                a(href="#") Việc làm
                            li
                                a(href="#") Người tìm việc
                            li
                                a(href="#") Nhà tuyển dụng
                            li
                                a(href="#") Về chúng tôi
                .listItem
                    .footer__subscribe
                        h2 Góp ý
                        p Đăng ký để nhận tin mới nhất.
                        .subscribe__wrapper
                            form.subscribe-form(action="#")
                                .subscribe-form__email
                                    input(type="email" placeholder="Email của bạn" name="email")
                                .subscribe-form__button
                                    button.submit(type="submit") Gửi
                        .social-icons__wrapper
                            ul
                                li
                                    a(href="#")
                                        img(src="./assets/icons/line/line-facebook.svg" alt="Facebook")
                                li
                                    a(href="#")
                                        img(src="./assets/icons/line/line-twitter.svg" alt="Twitter")
                                li
                                    a(href="#")
                                        img(src="./assets/icons/line/line-instagram.svg" alt="Instagram")
                                li
                                    a(href="#")
                                        img(src="./assets/icons/line/line-youtube.svg" alt="Youtube")
                        
    .copyright__wrapper
        .container
            .col-12
                p Copyright Ontopwork Vietnamese © 2020. All rights reserved
