header
	.container-fluid
		.header__wrapper
			a.header__logo(href="index.html")
				.img
					img(src="./assets/logo.png", alt="logo")
			.navBar__wrapper
				.navBar
					#hoverByNav
					.navBar__item
						a(href="#",data-txt="Trang chủ") Trang chủ
					.navBar__item
						a(href="#",data-txt="Việc làm") Việc làm
					.navBar__item
						a(href="#",data-txt="Người tìm việc") Người tìm việc
					.navBar__item
						a(href="#",data-txt="Nhà tuyển dụng") Nhà tuyển dụng
					.navBar__item
						a(href="#",data-txt="Về chúng tôi") Về chúng tôi
			.header__action
				.navBarHamburger__mainWrapper
					span.navBarHamburger__strokeElement
					span.navBarHamburger__strokeElement
					span.navBarHamburger__strokeElement
				.header__login
					.login__item
						img.svg(src="./assets/icons/user.svg", alt="logo")
					//- .login__item.notLogin
						img(src="./assets/b.jpg", alt="")