section.section_page
    .element_section
        .element_search_form
            .container
                .justify-center
                    .element_title
                        h2 Tìm công việc phù hợp với bạn nhất
                        p Điền kỹ năng, công việc, công ty, doanh nghiệp mà bạn chọn (Designer, Developer, Web, PHP, ...)
                    .element_search
                        input.input_search(type="text", placeholder="Nhập từ khóa kỹ năng, công việc... ")
                        .element_btn
                            button.btn_search(type="submit") 
                                span Tìm kiếm
                                img.search_next.svg(data-src="./assets/icons/search.svg")
                    .element_search_popular
                        a.items_search(href="#")
                            .element_items
                                img.items_popular.svg(data-src="./assets/icons/search.svg")
                                span Nhân viên kinh doanh
                        a.items_search(href="#")
                            .element_items
                                img.items_popular.svg(data-src="./assets/icons/search.svg")
                                span Bán hàng
                        a.items_search(href="#")
                            .element_items
                                img.items_popular.svg(data-src="./assets/icons/search.svg")
                                span Xây dựng
                        a.items_search(href="#")
                            .element_items
                                img.items_popular.svg(data-src="./assets/icons/search.svg")
                                span Tài chính
                        a.items_search(href="#")
                            .element_items
                                img.items_popular.svg(data-src="./assets/icons/search.svg")
                                span Chế tạo
                        a.items_search(href="#")
                            .element_items
                                img.items_popular.svg(data-src="./assets/icons/search.svg")
                                span Tiếp thị
                        a.items_search(href="#")
                            .element_items
                                img.items_popular.svg(data-src="./assets/icons/search.svg")
                                span Truyền thông
                        a.items_search(href="#")
                            .element_items
                                img.items_popular.svg(data-src="./assets/icons/search.svg")
                                span Dịch vụ khách hàng
                        a.items_search(href="#")
                            .element_items
                                img.items_popular.svg(data-src="./assets/icons/search.svg")
                                span Hà Nội
                        a.items_search(href="#")
                            .element_items
                                img.items_popular.svg(data-src="./assets/icons/search.svg")
                                span Hồ Chí Minh
                        a.items_search(href="#")
                            .element_items
                                img.items_popular.svg(data-src="./assets/icons/search.svg")
                                span Đà Nẵng
                        a.items_search(href="#")
                            .element_items
                                img.items_popular.svg(data-src="./assets/icons/search.svg")
                                span Cần Thơ
//- DESCRIPTION TOP
section.section_page
    .container
        .element_description
            .element_desLeft
                h3 MÔ TẢ 
                h2 Với doanh nghiệp
                p Tuyển dụng nhân sự có vai trò đặc biệt quan trọng và không thể thiếu được đối với các doanh nghiệp:
                h2 Với người lao động
                p Không chỉ đóng vai trò then chốt đối với doanh nghiệp mà việc tuyển dụng nhân sự còn có những ảnh hưởng to lớn đến đội ngũ người lao động, bao gồm cả nhân viên cũ và ứng viên mới.
            //-     .des_content
            //-         img.img_next(src="./assets/icons/next.svg" alt="" )
            //-         p Giúp doanh nghiệp bổ sung lượng nhân lực thiếu hụt trước đó.
            //-     .des_content
            //-         img.img_next(src="./assets/icons/next.svg" alt="" )
            //-         p Đem đến cho doanh nghiệp đội ngũ lao động chất lượng cao.
            //-     .des_content
            //-         img.img_next(src="./assets/icons/next.svg" alt="" )
            //-         p Là khâu khởi nguồn của quá trình quản trị nhân sự. 
            //-     .des_content
            //-         img.img_next(src="./assets/icons/next.svg" alt="" )
            //-         p Đội ngũ nhân viên tốt sẽ tạo nên hiệu quả kinh doanh, mang về lợi nhuận cho doanh nghiệp.
            .element_desRight
                img.img_candidate(src="./assets/icons/candidate.svg", alt="")
                img.img_employer(src="./assets/icons/employer.svg", alt="")



